@import 'imports/_variables' , 'imports/_mixins' , 'imports/_reset' ,'imports/_keyframes';


.acordeon{
    width:90%;
    max-width: 20rem;
    padding:2rem;
    @include neo( 1, 1rem , .4rem );
}
.acordeon .bloque{
    margin: 0 0 1rem;
    padding:1rem;
    @include neo( 1, 1rem , .4rem );
}
.acordeon .h2{
    margin: 0 0 1rem;
    padding:1rem;
    @include neo( 1, 1rem , .4rem );
    cursor: pointer;
    &:hover{
        @include neo( 2, 1rem , .4rem );
    }
}
.acordeon .contenido{
    height: 0;
    padding:0rem;
    overflow: hidden;
    transition: all .5s ease;
}
.acordeon .bloque.activo .contenido{
    height: 4rem;
}

